.hvr-overline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-right:hover:before, .hvr-overline-from-right:focus:before, .hvr-overline-from-right:active:before {
  left: 0;
}

@keyframes shift-text {
  from { left: 0px; }
  to { left: 30px; }
}

/* Wobble Skew */
@-webkit-keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-40deg);
    transform: skew(-40deg);
  }
  33.3% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-skew {
  16.65% {
    -webkit-transform: skew(-40deg);
    transform: skew(-40deg);
  }
  33.3% {
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.landing{
  padding: 2em;
  position: relative;
  max-width: $grid-max-width;
  margin: 0 auto;
  a.submit{
    color:#fff;
  }
  .option-container{
    transition: all .5s ease-in-out;    
    background-image: linear-gradient(to left, transparent 50%, #e1bbf1 50%);
    border: 1px dotted #ccc;
    vertical-align: middle;
    background-size: 200% 100%;
    background-position: 100% top, 100% top;
    
    label ,input{
      margin-bottom:0 !important;
      cursor:pointer;
      padding: 0.5em 0.1em;
    }
    label{
      width:90%;
    }
    input{
      width:10%
    }
    &:hover{
      @extend .effects-container;      
    }
  }
  .active-container{
    animation: hvr-wobble-skew 2s ease;
    @extend .effects-container;
  }
  .effects-container{
    background-position: 0% top, 0% top;
    border:1px dotted $theme-color;
    color: #1c181d;
  }
  .survey-title{
    text-overflow: ellipsis;
    width:inherit;
    white-space: nowrap; 
    overflow: hidden;
  }
  .qtn-ans{
    text-align: justify;
    padding: 1em 0em;
    border: 1px dotted #ddd;
    .questions{
      color:#9b4dca;
      font-weight: bold;
    }
    .answer{
      font-weight: bold;
    }
  }
  .hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
}

.answer-container{
  min-height:13em; 
  label.options{
    display: inline-block;
  }
}

.survey-navigation{
  text-align: center;
  .button{
    &:nth-child(2){
      margin-left: 2em;
    }
  }
}

@media #{$breakpoint-small} {
  .verify-container{
    overflow: scroll;
    height: 65%;
  }
}

.next ,.previous{
  transition: all .5s ease-in-out;
  background-image: linear-gradient(to left, #9b4dca 50%, #e1bbf1 50%);
  background-size: 200% 100%;
  background-position: 100% top, 100% top;
}
.next:not(:disabled):hover,.previous:not(:disabled):hover{
  @extend .effects-container;
  animation: hvr-wobble-skew 2s ease .2s;
  span{
    position: relative;
    animation-name: shift-text 1s ease infinite;    
  }
}
.survey-container{
  position: relative;
  height: 100%;
  .collapsable{
    padding:0.2em;
    color:$theme-font-color;
    border: 1px solid $theme-color;
    width:100%;
    font-size: 18px;
    font-weight: bold;
  }
  .dot{
    float:right;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
  .answer-container{
    width: 100%;
    padding: 2em 1em;
  }
  .odd{
    color: $odd-color;
  }
  .even{
    color: $even-color;
  }
  
}