// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";
$grid-columns: 12;
$grid-max-width: 55em;
$theme-font-color:#52bbbe99;
$theme-color:#9b4dca;
// $theme-color:#6737b9;
$button-bg-color:#fbd64a;
$landing-bg-color:#f3f9e6;
$odd-color:#7b772e;
$even-color:#368ea5;